@page "/"
@model IndexModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<Localization.SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["_WELCOME_"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @SharedLocalizer["_COLOR_"]
</div>
