@page
@model PrivacyModel
@inject IStringLocalizer<PrivacyModel> Localizer
@inject IHtmlLocalizer<PrivacyModel> HtmlLocalizer

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@Localizer["_TEXT_"]
